<h1>Editing Bill</h1>

<%= render 'form', bill: @bill %>

<button type="submit" class="btn btn-primary"><%= link_to 'Show', @bill %>  </button>
<button type="submit" class="btn btn-primary"><%= link_to 'Back', bills_path %> </button>
